.formulario {
    font-family: var(--fonte-principal);
    text-align: center;
    background-color: rgba(249, 250, 251, 1);
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
}

.formulario_titulo {
    font-weight: 600;
    font-size: 36px;
    padding-top: 2em;
}

.formulario_subtitulo {
    opacity: 50%;
    color: var(--cinza-claro);
    font-weight: 400;
    font-size: 20px;
}

.cadastro {
    margin-top: 3em;
}

.formulario_pesquisa { 
    border-radius: 8px;
    border: 1px solid var(--cinza-claro);
    background-color: var(--branco);
    width: 360px;
    height: 48px;
    text-indent: 10px;
    font-family: var(--fonte-principal);
    transition: border-color 0.3s ease;
}

.formulario_pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 16px;
    padding: 1em;
}

.formulario_button {
    background-color: var(--vinho-escuro);
    color: var(--branco);
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px, 18px;
    width: 116px;
    height: 48px;
}

.formulario_button:hover {
    color: var(--vinho-escuro);
    background-color: var(--cinza-claro);
}

.footer {
    margin-top: 2em;
    margin-bottom: 2em;
    color: var(--cinza-claro);
    font-size: 16px;
    font-weight: 400;
}